@model IEnumerable<UserDetails>

<div>
    <label>Name</label>
    <input type="text" id="txtName" maxlength="30" class="form-control" />
</div>
<div class="form-group">
    <label class="control-label">Email</label>
    <input type="email" id="email" class="form-control" onchange="EmailAvailability();" />
</div>
<div class="form-group">
    <label class="text-info">Address</label>
    <textarea  id="txtAddress" maxlength="250" class="form-control"></textarea>
</div>
<div class="form-group">
    <label class="text-info">Mob</label>
    <input type="text" maxlength="10" please enter 10 digit" id="numPhone" class="form-control" />
</div>
<div class="form-group">

    <div class="form-group">
        <label>Country:</label>
        <select class="form-control">
            <option value="" selected disabled>--Select Country--</option>
            @foreach (var item in ViewBag.Countries)
            {
                <option value="@item.CountryId">@item.CountryName</option>
            }
        </select>
    </div>
  @*  <select name="country" id="ddlCountry" class="form-group">
        <option value="0">Select Country</option>
        <option value="1">cse</option>
        <option value="2">it</option>
        <option value="3">civil</option>
        <option value="4">mech</option>
    </select>*@
</div>
<div class="form-group">
    <label for="state">State:</label>
    <select name="state" id="ddlState" class="form-group">
        <option value="0">Select State:</option>
        <option value="1">cse</option>
        <option value="2">it</option>
        <option value="3">civil</option>
        <option value="4">mech</option>
    </select>
</div>
<div class="form-group">
    <label for="city">City:</label>
    <select name="city" id="ddlcity" class="form-group">
        <option value="0">Select Value</option>
        <option value="1">cse</option>
        <option value="2">it</option>
        <option value="3">civil</option>
        <option value="4">mech</option>
    </select>
</div>
<div class="form-group">
    <label for="course">Coures:</label>
    <select name="course" id="ddlCourse" multiple>
        <option value="0">Select Value</option>
        <option value="1">cse</option>
        <option value="2">it</option>
        <option value="3">civil</option>
        <option value="4">mech</option>
    </select>
</div>
<div class="form-group">
<label><strong>Enter By</strong></label>
    <select id="ddlStatic" class="form-control">
    <option value="0">Select Value</option>
    <option value="1">CRM</option>
    <option value="2">WEB</option>
    <option value="3">Facebook</option>
</select>
</div>
<div>
    <button type="button" id="addCustomer" class=" btn btn-primary">Save</button>
</div>
<br/>
<br/>
<br/>
<br/>
<a href="@Url.Action("AddMovieItem", "Movie")">Add Movie</a>
@if (Model == null || Model.Count() == 0)
{
    <p>no record found in this table</p>
}
else
{
    <section id="movieList">
        <br />
        <br />
        <table width="1000" border="1">
            <tr border="1">
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Mob</th>
                <th>Country</th>
                <th>City</th>
                <th>State</th>
                <th>Course</th>
                 <th>Enter By</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr border ="1">
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.MobileNo</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.State</td>
                    <td>@item.Course</td>
                    <td>@item.EnterBy</td>
                </tr>
            }
        </table>
        <br />
        <br />
        <br />
    </section>
}





<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $('#numPhone').mouseout(function () {
        if (this.value.length < 10 || this.value.length > 10) {
            alert("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
            return false;
        }
    });
    $('#numPhone').keyup(function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });


    $("#addCustomer").click(function () {
        if ($('#numPhone').val().length < 10 || $('#numPhone').val().length > 10) {
            alert("Mobile No. is not valid, Please Enter 10 Digit Mobile No.");
            return false;
        }
            if ($('#txtName').val() == 0 || $('#txtAddress').val() == 0 || $('#numPhone').val() == 0 || $('#email').val() == 0) {
                alert("please insert complete Details");
                return false;
            }
        else {
            EmailAvailability.call();
        }
    });
    function EmailAvailability() {
        $.ajax({
            type: "GET",
            url: "/Home/CheckEmailExists",
            data: { email: $("#email").val() },
            contentType: "application/json;",
            dataType: "json",
            success: function (result) {
                if (result == true) {
                    alert("Email is already exists.");
                    return false;
                }
            }
        });
    }
    function SubmitData() {
        var apiurl = "/Home/AddCustomerDetails";
        var data = {
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Phone: $("#numPhone").val(),
            Email: $("#email").val()

        }
        $.ajax({
            url: apiurl,
            type: 'POST',
            contentType: "application/json; ",
            data: JSON.stringify(data),
            success: function () {
                location.replace("/Home/Index")
            },
            error: function () {
                alert("Error please try again.Check Your Email Format");
            }
        });
    }
</script>